@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    ::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 60vh repeat(4, min-content) 20vh;
    grid-template-areas: 
        "nav"
        "header"
        "p-container"
        "skills"
        "projects"
        "contacto"
        "footer"
    ;

    .nav{
        grid-area: nav;
        background-color: #143f6b;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex: 1 0 auto;
        position: sticky;
        top: 0;
        a{
            text-decoration: none;
            color: #14C38E;
            padding: 1rem 1rem;

            &:hover{
                background-color: #143f8e;
                color: #ddd;
            }
        }
    }
    .header{
        grid-area: header;
        background-color: rgba(0, 0, 0, 0.507);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../img/banner.png");
        background-position: center;
        background-blend-mode: darken;

        h1{
            text-shadow: 1px 1px 2px #000;
            color: #ddd;
            text-align: center;
        }
    }
    .p-container{
        grid-area: p-container;
        padding: 1rem;
        text-align: center;

        h3{
            margin-bottom: 1rem;
            // text-align: center;
        }
        img{
            max-width: 280px;
            margin-top: 1rem;
            border-radius: 100%;
        }
    }
    .skills{
        grid-area: skills;
        padding: 1rem;

        h3{
            margin-bottom: 1rem;
            text-align: center;
        }

        h5{
            margin: 5px 0;
            text-align: right;
        }
        .container-skills{
            width: 100%;
            background-color: #ddd;
            border-radius: 100px;
            color: #222;

            .skills{
                padding: 7px 7px;
                font-size: 12px;
                border-radius: 100px;
                color: #ddd;
                text-align: right;
            }
            .html{
                width: 85%;
                // background-color: #222;
                background: linear-gradient(to left, #A43931, #1D4350);
            }
            .css{
                width: 85%;
                background: linear-gradient(to left, #A43931, #1D4350);
            }
            .flexbox{
                width: 75%;
                background: linear-gradient(to left, #A43931, #1D4350);
            }
            .grid{
                width: 75%;
                background: linear-gradient(to left, #A43931, #1D4350);
            }
            .js{
                width: 55%;
                background: linear-gradient(to left, #A43931, #1D4350);
            }
            .php{
                width: 40%;
                background: linear-gradient(to left, #A43931, #1D4350);
            }
        }
    }
    .projects{
        grid-area: projects;
        // padding: 1rem;
        h3{
            text-align: center;
            margin-bottom: 1rem;
        }

        .card{
            background: linear-gradient(to left, #b92b27, #1565c0);
            margin: 1rem .5rem;
            border-radius: 7px;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 300px;
            color: #ddd;

            .link-project{
                a{
                    color: #ddd;
                    text-decoration: none;

                    &:hover{
                        color: #ccc;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .contacto{
        grid-area: contacto;
        h3{
            text-align: center;
            margin-bottom: 1rem;
        }

        .form-contact{
            padding: 1rem;
            form{
                display: flex;
                flex-direction: column;
                background-color: #ddd;
                padding: 1rem;

                label{
                    margin: .5rem 0;
                }

                input, textarea{
                    padding: 7px;
                    outline: none;
                }

                #btn{
                    margin-top: 1rem;
                    background-color: #143f8e;
                    padding: 1rem 0;
                    border-radius: 7px;
                    text-transform: uppercase;
                    color: #ddd;
                    border: none;
                    &:hover{
                        background-color: #143f6b;
                    }
                }
            }
        }
    }
    .footer{
        grid-area: footer;
        background-color: #222;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #14C38E;
    }

    /*
    > * {
        // background-color: #222;
        // color: #dc143c;
        // border: thin solid #111;
        // text-align: center;
    } 
    */
}

@media screen and (min-width: 768px){
    body{
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: repeat(6, min-content);
        grid-template-rows: min-content 60vh repeat(3, min-content) 20vh;
        grid-template-areas: 
            "nav            nav"
            "header         header"
            "p-container    skills"
            "projects       projects"
            "contacto       contacto"
            "footer         footer"
        ;
    }

    .projects{
        display: flex;
        flex-wrap: wrap;
        // flex-direction: row;

        h3{
            flex-basis: 100%;
        }

        .card{
            // flex-basis: 100%;
            flex: 1 0 250px;
            // margin: 1rem;
        }
    }
}

@media screen and (min-width: 992px){
    body{
        grid-template-columns: repeat(6, 1fr);
        // grid-template-rows: repeat(6, min-content);
        grid-template-rows: min-content 60vh repeat(2, min-content) 20vh;
        grid-template-areas: 
            "nav            nav         nav         nav         nav         nav"
            "header         header      header      header      header      header"
            "p-container    p-container p-container skills      skills      skills"
            "projects       projects    projects    projects    contacto    contacto"
            "footer         footer      footer      footer      footer      footer"
        ;
    }
}